*{
    margin: 0;
    padding: 0;
}

:root{
    --accient: #fff603;
    --primary: #ffff;
    --secondy: #554DF4;
}



body{
    background-image: url(/img/desktopview.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    background-color: rgba(88, 88, 88, 0.47);
    position: absolute;
    top: 10vh;
    left: 13vw;
    width: 75vw;
    height: max-content;
    min-height: 80vh;
    backdrop-filter: blur(9px);
    border-radius: 10px;
}

.heading{
    /* background-color: red; */
    position: absolute; 
    width: 38vw;
    height: 80vh;
    left: 0vw;
}

.form{
    /* background-color: yellow; */
    position: absolute;
    width: 38vw;
    height: 80vh;
    right: 0vw;
}

.heading>h1{
    font-family: sans-serif;
    font-size: 45px;
    position: relative;
    top: 20vh;
    margin-left: 40px;
    color: var(--accient);
}

.heading>p{
    font-family: sans-serif;
    font-size: 20px;
    position: relative;
    top: 20vh;
    margin-left: 40px;
    color: var(--primary);
    
}

.social-logo{
    /* background-color: green; */
    position: absolute;
    bottom: 5vh;
    margin-left: 40px;
}

.social-logo>a{
    text-decoration: none;
}

.fb-ico{
    width: 35px;
    margin-right: 10px;
    background-color: white;
    border-radius: 5px;
}

.lnkdn-ico{
    width: 35px;
    margin-left: 10px;
    background-color: white;
    border-radius: 5px;
}

select{
    width: 12.4vw;
}

input, select, textarea {
    border-top: 2px solid var(--primary);
    border-bottom: 2px solid var(--primary);
    border-left: none;
    border-right: none;
    margin-top: 25px;
    margin-bottom: 30px;
    display: block;
    width: 25vw;
    height: 6vh;
    position: relative;
    left: 7vw;
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    font-size: larger;
    color: white;
    /* color: var(--secondy); */
    resize: none;
    
}

option{
    background-color: transparent;
    color: black;
}

input::placeholder, select::placeholder, textarea::placeholder{
    color: white;
}

textarea{
    height: 25vh;
}

.btn-sub{
    width: 180px;
    height: 40px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.205);
    position: relative;
    left: 13vw;
}

/* Hover Effect */

input:focus, select:focus, textarea:focus{
    transition-duration: 300ms;
    border-top: 2px solid var(--secondy);
    border-bottom: 2px solid var(--secondy);
}

.btn-sub:hover{
    transition: 300ms;
    background-color: var(--accient);
    color: black;
    font-family: arial;
    font-size: 15px;
    font-weight: 900;
}